<section class="header d-sm-flex">
    <div class="container">
        <div class="row align-items-center">
            <div class="colums col-md-12" style="display: flex;">
                <img src="/assets/img/logo.png" alt="Icon" class="skandia-logo">
                <div class="vertical-line"></div>
                <div class="left-title">
                    <span class="left-title responsive-text">Plan Financiero Digital - FPX</span>
                </div>
                <div class="item">
                    <div class="item-content">
                        <img src="happy.svg" alt="Icon" class="container-img icon">
                        <span class="responsive-text item-action">Tu Financial Planner</span>
                    </div>
                    <div class="item-content">
                        <img src="/assets/icons/hand3.svg" alt="Icono" class="container-img icon">
                        <span class="responsive-text item-action">Aportes</span>
                    </div>
                    <img src="/assets/icons/question.svg" alt="Icono" class="container-img icon help">
                </div>
            </div>
        </div>
    </div>
</section>